spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: challenge-route
              uri: lb://challenge-manager/
              predicates:
                - Path=/challenges/**, /attempts/**

            - id: user-manager-route
              uri: lb://user-manager/
              predicates:
                - Path=/auth/**, /users/**
              strip-prefix: 0

            - id: gamification-manager-route
              uri: lb://gamification-manager/
              predicates:
                - Path=/leaders/**

            - id: notification-manager-route
              uri: lb://notification-manager/
              predicates:
                - Path=/notifications/**

            - id: analytics-manager-route/
              uri: lb://analytics-manager
              predicates:
                - Path=/analytics/attempts/**, /analytics/statistics/**

app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:http://127.0.0.1:3000}
    allowed-methods: GET,POST,PUT,DELETE
    allowed-headers: Authorization,Content-Type,X-Requested-With,Accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Access-Control-Allow-Origin
    exposed-headers: Location
