version: '3.8'

networks:
  portfolio-network:
    driver: bridge

services:
  postgres:
    image: postgres:12
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=postgres
    healthcheck:
      test: pg_isready -U postgres -d postgres
      interval: 1s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - portfolio-network

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.15.0
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9187:9187"
    networks:
      - portfolio-network

  neo4j-analytics:
    image: neo4j:2025.09.0
    restart: always
    environment:
      - NEO4J_AUTH=${NEO4J_ANALYTICS_USER}/${NEO4J_ANALYTICS_PASSWORD}
    healthcheck:
      test: wget http://localhost:7474 || exit 1
      interval: 1s
      timeout: 5s
      retries: 10
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
    networks:
      - portfolio-network

  postgres-migrations:
    image: postgres:12
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./postgres-migrations:/postgres-migrations
    command: > 
      /bin/sh -c '
      for file in /postgres-migrations/*.sql; do
        PGPASSWORD=${POSTGRES_PASSWORD} psql -h postgres -U postgres -v ON_ERROR_STOP=1 \
        -c "SET my.user_manager_password=\"${POSTGRES_USER_MANAGER_PASSWORD}\"" \
        -c "SET my.challenge_manager_password=\"${POSTGRES_CHALLENGE_MANAGER_PASSWORD}\"" \
        -c "SET my.gamification_manager_password=\"${POSTGRES_GAMIFICATION_MANAGER_PASSWORD}\"" \
        -f "$$file"
      done'
    environment:
      - PGPASSWORD=${POSTGRES_PASSWORD}
    networks:
      - portfolio-network

  rabbitmq:
    image: rabbitmq:3.13-management
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
    networks:
      - portfolio-network

  redis:
    image: redis/redis-stack:7.2.0-v10
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_ARGS=--user ${REDIS_USER} on >${REDIS_PASSWORD} ~* +@all
    healthcheck:
      test: ["CMD","redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "6379:6379"
      - "5540:8001"
    networks:
      - portfolio-network

  redis-exporter:
    image: bitnami/redis-exporter:latest
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "9121:9121"
    networks:
      - portfolio-network

  consul:
    image: hashicorp/consul:1.18.0
    command: agent -server -bootstrap-expect=1 -client=0.0.0.0 -ui
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8500/v1/status/leader" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    networks:
      - portfolio-network
    volumes:
      - consul-data:/consul/data

  consul-config-loader:
    image: hashicorp/consul:1.18.0
    environment:
      - CONSUL_HTTP_ADDR=http://consul:8500
    depends_on:
      consul:
        condition: service_healthy
    volumes:
      - ./consul/kv_config:/consul/kv_config
      - ./consul/import-kv.sh:/consul/import-kv.sh
    command: sh /consul/import-kv.sh
    networks:
      - portfolio-network

  prometheus:
    image: prom/prometheus:v2.51.2
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9091:9090"
    networks:
      - portfolio-network
    depends_on:
      consul:
        condition: service_healthy

  alertmanager:
    image: prom/alertmanager:v0.27.0
    environment:
      - SMTP_HOST=${AM_SMTP_HOST}
      - SMTP_PORT=${AM_SMTP_PORT}
      - SMTP_USER=${AM_SMTP_USER}
      - SMTP_PASSWORD=${AM_SMTP_PASSWORD}
      - SMTP_FROM=${AM_SMTP_FROM}
      - SMTP_TO=${AM_SMTP_TO}
    volumes:
      - ./alertmanager/alertmanager.yml.template:/etc/alertmanager/alertmanager.yml.template
      - ./alertmanager/entrypoint.sh:/entrypoint.sh
    entrypoint: /bin/sh -c "chmod +x /entrypoint.sh && /entrypoint.sh"
    ports:
      - "9093:9093"
    networks:
      - portfolio-network
    depends_on:
      prometheus:
        condition: service_started

  grafana:
    image: grafana/grafana:10.4.2
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_AUTH_ANONYMOUS_ENABLED=false
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - grafana-data:/var/lib/grafana
    networks:
      - portfolio-network
    depends_on:
      prometheus:
        condition: service_started # Prometheus doesn't have a health check, so we wait for it to start

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - portfolio-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=5s"]
      interval: 10s
      timeout: 5s
      retries: 10

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - "5601:5601"
    networks:
      - portfolio-network
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601/api/status"]
      interval: 30s
      timeout: 10s
      retries: 5

  logstash:
    image: docker.elastic.co/logstash/logstash:8.13.4
    volumes:
      - ./logstash/pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5000:5000"
    networks:
      - portfolio-network
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "bash", "-c", "cat < /dev/null > /dev/tcp/localhost/5000"]
      interval: 10s
      timeout: 5s
      retries: 5

  zipkin:
    image: openzipkin/zipkin:2
    ports:
      - "9411:9411"
    networks:
      - portfolio-network

  user-manager:
    build:
      context: ../services/user-manager
      dockerfile: Dockerfile
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/user-manager-db
      - SPRING_DATASOURCE_USERNAME=user-manager-user
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_USER_MANAGER_PASSWORD}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      postgres-migrations:
        condition: service_completed_successfully
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network
    restart: unless-stopped

  challenge-manager:
    build:
      context: ../apps/math-challenges/challenge-manager
      dockerfile: Dockerfile
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/challenge-manager-db
      - SPRING_DATASOURCE_USERNAME=challenge-manager-user
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_CHALLENGE_MANAGER_PASSWORD}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      postgres-migrations:
        condition: service_completed_successfully
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network
    restart: unless-stopped

  gamification-manager:
    build:
      context: ../apps/math-challenges/gamification-manager
      dockerfile: Dockerfile
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/gamification-manager-db
      - SPRING_DATASOURCE_USERNAME=gamification-manager-user
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_GAMIFICATION_MANAGER_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - USER_MANAGER_HOST=user-manager
      - USER_MANAGER_PORT=8081
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      postgres-migrations:
        condition: service_completed_successfully
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network
    restart: unless-stopped

  notification-manager:
    build:
      context: ../services/notification-manager
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - DEFAULT_MAIL_TO=${DEFAULT_MAIL_TO}
      - DEFAULT_MAIL_FROM=${DEFAULT_MAIL_FROM}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      rabbitmq:
        condition: service_healthy
      consul:
        condition: service_healthy
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network
  
  analytics-manager:
    build:
      context: ../apps/math-challenges/analytics-manager
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - NEO4J_URI=bolt://neo4j-analytics:7687
      - NEO4J_USER=${NEO4J_ANALYTICS_USER}
      - NEO4J_PASSWORD=${NEO4J_ANALYTICS_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      rabbitmq:
        condition: service_healthy
      neo4j-analytics:
        condition: service_healthy
      consul:
        condition: service_healthy
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network

  frontend:
    build:
      context: ../apps/math-challenges/fe
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      api-gateway:
        condition: service_healthy
    networks:
      - portfolio-network
    restart: unless-stopped

  api-gateway:
    build:
      context: ../services/api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9090/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    depends_on:
      analytics-manager:
        condition: service_healthy
      notification-manager:
        condition: service_healthy
      gamification-manager:
        condition: service_healthy
      challenge-manager:
        condition: service_healthy
      user-manager:
        condition: service_healthy
      consul:
        condition: service_healthy
      logstash:
        condition: service_healthy
    networks:
      - portfolio-network

volumes:
  postgres-data:
  neo4j-data:
  consul-data:
  grafana-data:
  es-data:
