spring:
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}
    template:
      observation-enabled: true
    listener:
      simple:
        observation-enabled: true

server:
  port: ${SERVICE_PORT:8080}

management:
  server:
    port: ${MANAGEMENT_PORT:9090}
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
      base-path: /
  endpoint:
    health:
      show-details: when-authorized
  info:
    build:
      enabled: true
  zipkin:
    tracing:
      endpoint: http://${ZIPKIN_HOST:zipkin}:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0